@import "src/styles/variables.sass"
.input-container
  display: flex
  flex-direction: column
  width: 100%


.input-container__label
  font-weight: 500
  font-size: $font-main
  line-height: 9px
  margin-bottom: 10px
  color: $gray

.input-container__input
  border: none
  background-color: $bg
  border-bottom: 1px solid $main
  font-size: $font-medium

  &:focus
    outline: none
    background: transparent
  &:disabled
    color: $gray

.input-container__error
  margin-top: 10px
  font-weight: 400
  min-height: 16px
  font-size: $font-medium
  color: $accent
