@import 'src/styles/variables.sass'

.register-page
  display: flex
  width: 100%
  height: 100vh
  align-items: center
  justify-content: space-around
  background: $main

.register-page__form
  display: flex
  gap: 20px
  padding: 50px 30px
  width: 280px
  flex-direction: column
  align-items: center
  background: $bg
  border-radius: 10px

.register-page__title
  margin: 0
  font-weight: 500
  font-size: 20px
  line-height: 20px

.register-page__link
  text-decoration: none
  font-size: 14px
  line-height: 1
  color: $main

.register-page__button
  width: 100%
  border: none
  border-radius: 3px
  background-color: $main
  color: #FFF
  padding: 8px 24px

.edit-pass__error
  font-size: 1.3rem
  color: $accent
  margin: 0 auto 20px
