@import 'src/styles/variables.sass'

.profile-page
    position: relative
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    background: $main

    &__container
        width: 510px
        display: flex
        flex-direction: column
        justify-content: center

    &__back
        position: absolute
        top: 20px
        left: 20px
        width: 20px
        height: 20px
        background: url("../../static/icon/arrow_back.svg") 50% 50% no-repeat
        border: none

    .input-container
        margin-bottom: 20px
        input
            border: none
            background-color: $main
            border-bottom: 1px solid $secondary
            &__error
                margin-top: 0



    &__btn
        width: 100%
        text-align: left
        color: $accent
        border: none
        border-bottom: 1px solid $bg
        background: none
        margin-top: 10px
        &:nth-child(3n)
            border-bottom: none
    &__save-data
        width: fit-content
        margin: 0 auto
        color: $bg
        padding: 8px 100px
        border-radius: 3px
        background-color: $accent
        border: none
