<div class="chat">
    <img class="chat__avatar"  alt="avatar" src="{{url}}">
    <div class="chat__container chat__container_text">
        <p class="chat__profile-name">Имя пользователя</p>
        <p class="chat__message">Текст сообщения</p>
    </div>
    <div class="chat__container chat__container_data">
        <p class="chat__time">10:00</p>
        <p class="chat__message-count">2</p>
    </div>
</div>
