@import "src/partials/button/button.sass"
@import "src/partials/input/input.sass"
@import "src/styles/login.sass"
@import "src/styles/register.sass"

html
  font-family: "Inter", serif

body, p
  margin: 0
  box-sizing: border-box

