{{!< main}}

<main class="main not-found-page">
    <h2 class="not-found-page__title">404</h2>
    <p class="not-found-page__subtitle">Не туда попали</p>
    <a href="/" class="not-found-page__link">Вернуться назад</a>
</main>
