{{!< main}}

<main class="main error-page">
    <h2 class="error-page__title">500</h2>
    <p class="error-page__subtitle">Мы уже фиксим</p>
    <a href="/" class="error-page__link">Вернуться назад</a>
</main>
