{{!< main}}

<main class="profile-page">
    <div class="profile-page__container">
        <a href="/" class="profile-page__back"><img src="../../static/icon/arrow_back.svg"></a>
        <img class="profile-page__avatar" src="../../static/img/avatar.jpeg" alt="avatar">
        <form class="profile-page__form">
            {{> "input/input" type="text" name="email" title="Почта" }}
            {{> "input/input" type="text" name="login" title="Логин" }}
            {{> "input/input" type="text" name="first_name" title="Имя"}}
            {{> "input/input" type="text" name="second_name" title="Фамилия" }}
            {{> "input/input" type="text" name="display_name" title="Имя в чате"}}
            {{> "input/input" type="text" name="phone" title="Телефон" }}
        </form>
        <button class="profile-page__btn profile-page__change-date">Изменить данные</button>
        <button class="profile-page__btn profile-page__change-password">Изменить пароль</button>
        <button class="profile-page__btn profile-page__exit">Выйти</button>
    </div>
</main>
