---
title: "Регистрация"
---

{{!< main}}


<main class="main register-page">
    <form class="register-page__container">
        <p class="register-page__title">{{title}}</p>
        {{> "input/input"type="email" name="email" title="Почта"}}
        {{> "input/input" type="text" name="login" title="Логин"}}
        {{> "input/input" type="text" name="first_name" title="Имя"}}
        {{> "input/input" type="text" name="second_name" title="Фамилия"}}
        {{> "input/input" type="tel" name="phone" title="Телефон"}}
        {{> "input/input" type="password" name="password" title="Пароль"}}
        {{> "input/input" type="password" name="password" title="Пароль ещё раз"}}
        {{> "button/button" title="Зарегистрироваться"}}
        <a href="./login.hbs" class="register-page__link">Войти</a>
    </form>
</main>
